p{
	font-family: serif; 
	font-weight: bold;
}
span{
	font-family: serif;
}
.button{
	margin: 0; 
	position: absolute; 
	top: 70%; 
	left: 50%; 
	-ms-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);
}
.select{
	margin: 0; 
	position: absolute; 
	top: 40%; 
	left: 50%; 
	-ms-transform: translate(-50%, -50%); 
	transform: translate(-50%, -50%);
}
i:hover{
	color: grey;
}
body{
	background-color:transparent;
	overflow: hidden; 
	width: 180px; 
	height: 140px; 
	background-image: url('cookie.png');
}